################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CMSWebApp/CMSWebApp.csproj.user
/.vs
/CMSWebApp/bin
/CMSWebApp/obj
